{
	"trailingComma": "all",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"arrowParens": "always",
	"quoteProps": "consistent",
	"useTabs": true,
	"printWidth": 120,

	"overrides": [
		{
			"files": "translations.ts",
			"options": {
				"quoteProps": "preserve",
				"printWidth": 1000
			}
		}
	]
}
